{% load static %}

<section id="about" class="container mt-5 border border-dark p-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Quienes somos?</h2>
            <p>En "Soy Moni", somos más que una aplicación, somos una comunidad que se preocupa por tu bienestar financiero. Nuestra misión es brindarte acceso a soluciones de préstamos y asesoramiento financiero de manera sencilla y segura.

                Con años de experiencia en el mundo financiero, entendemos las necesidades de las personas y sabemos que cada situación es única. Estamos aquí para ofrecerte opciones flexibles y adaptadas a tus circunstancias.
                
                Nuestro equipo de expertos está comprometido en ayudarte a tomar decisiones informadas y responsables en tu vida financiera. Queremos que te sientas empoderado para alcanzar tus metas y sueños.
                
                En "Soy Moni," valoramos la transparencia, la confianza y la privacidad de nuestros usuarios. Tus datos personales son tratados con el mayor cuidado y seguridad.
                
                Únete a la familia "Soy Moni" y descubre cómo podemos ayudarte a construir un futuro financiero más sólido. Estamos aquí para ti en cada paso del camino.</p>
        </div>
    </div>
</section>