{% load static %}

<div class="card text-dark bg-ligth">
  <div class="card-body">
    <h5 class="card-title">Préstamos personales online al instante</h5>
    <p class="card-text">Te presto hasta $490.000 pesos y podés devolverme en 12 cuotas.
      Mis créditos son fáciles, rápidos y seguros. Pedime efectivo ya
      y te transfiero de forma urgente.</p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
  <img src="{% static 'img/pedimeydevolveme.png'%}" class="card-img-bottom" alt="..." height="500px">
</div>




